Source: hashstack-server-plugin-jtr
Maintainer: Jeremi Gosney <jgosney@stricture-group.com> 
Section: misc
Priority: important
Standards-Version: 3.9.2
Build-Depends: make

Package: hashstack-server-plugin-jtr
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, perl, python
Recommends: hashstack-server-core
Description: John the Ripper server plugin for Hashstack
 John the Ripper server plugin for Hashstack
